<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<script>

</script>

<h2>Sign Up</h2>
<form action="http://localhost:8080/mvc/signup" method="post">
    <input id="suFirstName" name="firstName" type="text" placeholder="First name">
    <input id="suLastName" name="lastName" type="text" placeholder="Last name"> <br> <br>
    <input id="suUserName" name="userName" type="text" placeholder="Enter Your Username"> <br> <br>
    <input id="suEmail" name="email" type="email" placeholder="Enter your Email"> <br> <br>
    <input id="suPwd" name="password" type="password" placeholder="Password">

    <br>
    <br>
    <button>Sign UP</button>
</form>


<br>
</body>
</html>